
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log


.serverless/


dist/
build/
.build/
*.tsbuildinfo


.env
.env.*
!.env.example
!.env.template


.DS_Store
Thumbs.db


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj


*.log